@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 450;
    color: #3a3a3a;
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* headings and logo */
h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #191a1a;
}

#logo {
    float: left;
    font-size: 240%;
    margin-left: 25px;
    text-decoration-line: underline;
    letter-spacing: 1.5px;
    color: #191a1a;
}

/* navigation links */
#menu {
    font-size: 115%;
    letter-spacing: 1.5px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1.5px solid brown;
}

.active {
    border-bottom: 1.5px solid brown;
}

/* hero image and cover text*/
.hero-image {
    width: 100%;
    height: 600px;
    position: relative;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.cover-text {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.cover-text h2 {
    margin: 0;
    font-size: 33px;
    color: #fff;
    font-family: Oswald, sans-serif;
}

.cover-text h2 span {
    text-transform: uppercase;
    border: 1px solid darkblue;
    background-color: rgba(241, 109, 107, 0.8);
    letter-spacing: 1.5px;
    padding: 6px 14px;
    display: inline-block;
}

/* About Us- Wecome Section */
.welcome-section {
    width: 100%;
    padding: 50px;
    margin: 40px 0 30px 0;
    text-align: center;
    justify-content: center;
    background-color: #FFF6E5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border: 1.5px solid red;
    color: #3a3a3a;
}

.welcome-section h2 {
    text-align: center;
    color: #191a1a;
    font-size: 25px;
    margin-bottom: 1rem;
}

.welcome-section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
}

.welcome-section p>a {
    font-size: 19px;
    font-weight: 500;
}

/* Benefits of getting unplugged */
#benefits {
    background: url('../images/benefits-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 30px 0 40px 0;
}

#benefits div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.4);
    width: 20%;
    height: 180px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    justify-content: center;
    border: 2px solid white;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

#benefits div:hover {
    transform: scale(1.1);
}

div i {
    padding: .5rem;
    color: #fafafa;
    font-size: 25px;
}

#benefits h2 {
    color: #fafafa;
}

/* About getting Unplugged */
.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h2 {
    font-family: Oswald, sans-serif;
    font-size: 25px;
    color: #191a1a;
    margin-bottom: 1rem;
    position: relative;
}

.heading h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
}

.heading p {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #3a3a3a;
    margin-bottom: 30px;
    line-height: 1.5;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #FFF6E5;
    border: 1.5px solid red;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
}

.about-content h3 {
    font-family: Oswald, sans-serif;
    font-size: 23px;
    margin-bottom: 15px;
    color: darkblue;
    text-align: center;
}

.about-content p {
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #3a3a3a;
}

.about-content .learn-more {
    justify-content: center;
    display: inline-block;
    padding: 15px 25px;
    background-color: #4caf50;
    color: black;
    font-weight: 500;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .learn-more:hover {
    background-color: #3e8e41;
}

/* footer */
footer {
    background-color: #9cb884;
    height: auto;
    margin-top: auto;
    border-top: 2px inset rgb(166, 159, 159);
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 3%;
    color: black;
}

/* Unplug Guide Image with cover text */
.guide-image {
    width: 100%;
    height: 600px;
    position: relative;
    background: url('../images/guide-image.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.cover-text1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.cover-text1 h2 {
    margin: 0;
    font-size: 33px;
    color: #fff;
    font-family: Oswald, sans-serif;
}

.cover-text1 h2 span {
    text-transform: uppercase;
    border: 1px solid darkblue;
    background-color: rgba(241, 109, 107, 0.8);
    letter-spacing: 1.5px;
    padding: 6px 14px;
    display: inline-block;
}

.cen1 {
    letter-spacing: 1.5px;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: Oswald, sans-serif;
    font-weight: 700;
    color: white;
    margin: 20px;
    display: block;
    font-size: 30px;
}

/* Guide to Unplug Steps */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
    border: 1px solid red;
    overflow: hidden;
    transition: transform 0.6s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 18px;
    color: #3a3a3a;
    margin-bottom: 20px;
    letter-spacing: .5px;
}

/* Contact Us Form */
.contact-section {
    clear: left;
    background: url("../images/contact-image.webp");
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}

.signup-form fieldset {
    margin: 150px 10% 0 0;
    color: white;
    background-color: rgb(226, 161, 161, 0.9);
    box-shadow: 0 0 10px 10px;
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: black;
    margin-bottom: 20px;
}

.text-input {
    font-size: 18px;
    background: transparent;
    color: black;
    width: 100%;
    height: 50px;
    margin: 8px 0 20px 0;
    border: 2px solid black;
    border-radius: 4px;
}

.text-input:hover {
    border-color: #6bb5f1;
}

.submit-button {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    border: 1px solid black;
    color: black;
    display: inline-block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* 404 Page Not Found Error Message */
.error-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    padding: 20px 50px;
    width: 65%;
    text-align: center;
}

.error-msg h1 {
    font-size: 30px;
    font-weight: 700;
}

.error-msg p {
    margin: 20px 0;
    font-size: 20px;
}

.error-msg a {
    text-decoration: none;
    background-color: darkblue;
    padding: 15px 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}

.error {
    position: absolute;
    z-index: -1;
    font-size: 300px;
    color: #cdcdcd;
}

/* Media queries */
/* For small screen-sizes from 425px and down */
@media screen and (max-width:425px) and (min-width:320px) {

    #logo {
        font-size: 150%;
    }

    #menu {
        line-height: 10px;
        margin-bottom: 10px;
        font-size: 90%;
        font-weight: 450;
        text-align: center;
    }

    .cover-text h2 {
        font-size: 22px;
    }

    .welcome-section h2 {
        font-size: 22px;
    }

    .welcome-section p {
        text-align: left;
        font-size: 17px;
    }

    .welcome-section p>a {
        font-size: 18px;
    }

    .container .heading>h2 {
        font-size: 22px;
    }

    .social-networks {
        margin-top: 4%;
    }

    .cover-text1 h2 {
        font-size: 22px;
    }

    .cen1 {
        font-size: 20px;
    }

}

/* For Tablets, Ipads and mobile devices from 768px and down */
@media screen and (max-width: 768px) {

    .welcome-section p {
        text-align: left;
        font-size: 17px;
    }

    .heading {
        padding: 10px 20px;
    }

    .heading h2 {
        font-size: 25px;
    }

    .heading p {
        text-align: left;
        font-size: 17px;
        margin-bottom: 0;
    }

    .container {
        padding: 0;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-content p {
        padding: 0;
        font-size: 17px;
    }

    .about-content .learn-more {
        font-size: 17px;
        text-align: center;
        justify-content: center;
    }

}

/*  For medium screen-sizes from 950px wide and down */
@media only screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 25px;
        margin-bottom: 20px;
        line-height: 20px;
    }
}

/* Media queries for larger to medium screens size from 1200px and down */
@media screen and (max-width: 1200px) {

    .welcome-section p {
        text-align: left;
    }

    #benefits>div {
        text-align: center;
        width: 100%;
        clear: both;
        height: 120px;
        padding-top: 1rem;
    }

    #benefits>div:hover {
        transform: none;
    }

}